@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MWO app, deployment to azure web app test. Next version!</p>
    <p>Wersja aplikacji: @Model.ver</p>
</div>
