@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MWO app, deployment to azure web app test</p>
    Wersja aplikacji:
    <p>@Html.File.ReadAllText("../version.txt")</p>
</div>
